* {
  margin: 0;
  padding: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
.button {
  display: flex;
  width: 375px;
  margin: 0 auto;
}
.right {
  background: blue;
  flex: 1 1 auto;
  height: 50px;
  color: white;
}
.left {
  background: blue;
  color: white;
  flex: 1 1 auto;
  height: 50px;
}
